.view-main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.right-column {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
}

ts-header {
    flex: 1;
}

.image-container {
    width: 744px;
    height: calc(100% - 80px);
    padding: 16px;
}

.main-image {
    width: 100%;
    height: auto;
}

.tab-container {
    width: 216px;
    padding: 15px 10px;
    background: #efefef;
    box-shadow: inset 1px 0 5px 0 #d9d9d9;
}
.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 25px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ffd500;
    opacity: 0;
    transition: all .2s;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio-label {
    font: bold 12px Open Sans, sans-serif;
    color: #666;
    margin-right: 17px;
}
