<div class="view-main-container">
    <div class="left-column">
        <ts-menu></ts-menu>
    </div>
    <div class="right-column">
        <ts-header on-load-file="view.onLoadFile(src)"></ts-header>
        <div class="image-container">
            <img class="main-image" ng-src="{{ view.src }}" ng-click="view.openAddTagPopup()">
            <ts-add-tag ng-if="view.isAddTagPopupShow"></ts-add-tag>
        </div>
        <div class="tab-container">
            <form class="radio-container">
                <input id="note-list-latest" class="radio" type="radio" name="note-list" value="latest" checked>
                <label class="radio-label" for="note-list-latest">Latest</label>
                <input id="note-list-all" class="radio" type="radio" name="note-list" value="all">
                <label class="radio-label" for="note-list-all">All</label>
            </form>
            <ul class="note-list">
                <li class="note-list-item" ng-repeat="note in view.notes">
                    {{ note.note }}
                </li>
            </ul>
        </div>
    </div>
</div>
