<header class="header">
    <form class="upload-form" action>
        <label class="upload-field-label">
            <i class="icon icon-upload-cloud"></i>
            <span>Drop or
                <span class="upload-field-placeholder">browse...</span>
            </span>
            <input class="upload-field" type="file" size="1" ts-fileread="view.onLoad(src)">
        </label>
    </form>
    <div class="search">
        <i class="icon icon-search"></i><input class="search-field" type="text" placeholder="Search">
    </div>
    <div class="login">
        <a href="#" class="login-link" title="login">
            <span class="photo"></span>
            <span class="login-text">Log in</span>
        </a>
    </div>
</header>
