.popup-wrapper{
    position: absolute;
    top: 100px;
    left: calc(50% - 175px);
    width: 350px;
    height: 200px;
    background: white;
    border-radius: 5px;
}

.popup-header {
    height: 50px;
    padding: 0 15px;
    background: #2a3d51;
    font: bold 12px Open Sans, sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    line-height: 50px;
}

.popup-label {
    font: bold 12px Open Sans, sans-serif;
    color: #666;
}

.popup-main {
    padding: 15px;
}

.popup-value {
    width: 260px;
    height: 65px;
}

.popup-label {
    margin-right: 10px;
    vertical-align: top;
}


.popup-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 15px 15px;
}

.button-controls {
    width: 70px;
    height: 30px;
    margin-left: 10px;
    font: bold 12px Open Sans, sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-submit {
    background: #339966;
}

.btn-cancel{
    background: rgba(42, 61, 81, 0.83);

}